@model IEnumerable<CoaMVC.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1>USUARIOS</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                <a asp-action="CreateEdit"
                    asp-route-id="0"
                   class="btn btn-primary btn-sm float-right">
                    Crear Nuevo
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    <a asp-action="CreateEdit" asp-route-id="@item.Id"
                       class="btn btn-primary btn-sm float-right"
                       style="margin-right:0.2em">
                        Editar
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.Id"
                       class="btn btn-danger btn-sm float-right"
                       style="margin-right:0.2em">
                        Eliminar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
